services:
  whoami:
    labels:
      - traefik.enable=true
      - traefik.http.routers.whoami.rule=Host(`whoami.gryta.eu`)
      - traefik.http.routers.whoami.entrypoints=websecure
      - traefik.http.routers.whoami.tls.certresolver=le
      - traefik.http.routers.whoami.middlewares=authentik-forward-auth@file
    image: traefik/whoami:latest
    container_name: whoami
    networks:
      homelab-network:
        ipv4_address: 172.20.0.20
    restart: unless-stopped
networks:
  homelab-network:
    external: true
