services:
  jellyfin:
    labels:
      - traefik.enable=true
      - traefik.http.routers.jellyfin.rule=Host(`jellyfin.gryta.eu`) &&
        !Path(`/Users/authenticatebyname`)
      - traefik.http.routers.jellyfin.entrypoints=websecure
      - traefik.http.routers.jellyfin.tls.certresolver=le
      - traefik.http.services.jellyfin.loadbalancer.server.port=8096
    image: jellyfin/jellyfin
    container_name: jellyfin
    volumes:
      - jf_config:/config
      - jf_cache:/cache
      - jf_media:/media
    restart: unless-stopped
    devices:
      - /dev/dri/renderD128:/dev/dri/renderD128
    networks:
      homelab-network:
        ipv4_address: 172.20.0.103
    extra_hosts:
      - jellyseerr.gryta.eu:172.20.0.106
    environment:
      - JELLYFIN_PublishedServerUrl=https://jellyfin.gryta.eu
  jellyseerr:
    labels:
      - traefik.enable=true
      - traefik.http.routers.jellyseerr.rule=Host(`jellyseerr.gryta.eu`)
      - traefik.http.routers.jellyseerr.entrypoints=websecure
      - traefik.http.routers.jellyseerr.tls.certresolver=le
      - traefik.http.services.jellyseerr.loadbalancer.server.port=5055
      - traefik.http.routers.jellyseerr.middlewares=authentik-forward-auth@file
    image: ghcr.io/fallenbagel/jellyseerr:latest
    init: true
    container_name: jellyseerr
    environment:
      - LOG_LEVEL=debug
      - TZ=Europe/Warsaw
    networks:
      homelab-network:
        ipv4_address: 172.20.0.106
      homelab-vpn-network:
        ipv4_address: 172.20.2.14
    extra_hosts:
      - jellyfin.gryta.eu:172.20.0.103
      - sonarr.gryta.eu:172.20.2.4
      - radarr.gryta.eu:172.20.2.5
    volumes:
      - js_config:/app/config
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://localhost:5055/api/v1/status
        || exit 1
      start_period: 20s
      timeout: 3s
      interval: 15s
      retries: 3
    restart: unless-stopped
volumes:
  jf_media:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: /mnt/archive/media
  jf_config:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: /mnt/quick/apps/volumes/jellyfin/config
  jf_cache:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: /mnt/quick/apps/volumes/jellyfin/cache
  js_config:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: /mnt/quick/apps/volumes/jellyseerr/config
networks:
  homelab-network:
    external: true
  homelab-vpn-network:
    external: true
