services:
  whatsupdocker:
    labels:
      - traefik.enable=true
      - traefik.http.routers.wud.rule=Host(`wud.gryta.eu`)
      - traefik.http.routers.wud.entrypoints=websecure
      - traefik.http.routers.wud.tls.certresolver=le
      - traefik.http.services.wud.loadbalancer.server.port=3000
      - traefik.http.routers.wud.middlewares=authentik-forward-auth@file
    image: ghcr.io/getwud/wud:8.1
    container_name: wud
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - WUD_WATCHER_LOCAL_CRON=0 5 * * *
      - TZ=Europe/Warsaw
    networks:
      homelab-network:
        ipv4_address: 172.20.0.21
    restart: unless-stopped
networks:
  homelab-network:
    external: true
