services:
  authentik-server:
    labels:
      - traefik.enable=true
      - traefik.http.routers.authentik.rule=Host(`authentik.gryta.eu`)
      - traefik.http.routers.authentik.entrypoints=websecure
      - traefik.http.routers.authentik.tls.certresolver=le
      - traefik.http.services.authentik.loadbalancer.server.port=9000
    command: server
    image: ghcr.io/goauthentik/server:2025.10.3
    container_name: authentik-server
    restart: unless-stopped
    environment:
      AUTHENTIK_HOST: https://authentik.gryta.eu
      AUTHENTIK_SECRET_KEY: ${AUTHENTIK_SECRET_KEY}
      AUTHENTIK_POSTGRESQL__HOST: homelab-postgres
      AUTHENTIK_POSTGRESQL__USER: authentik
      AUTHENTIK_POSTGRESQL__PASSWORD: ${POSTGRES_PASSWORD}
      AUTHENTIK_POSTGRESQL__NAME: authentik
    networks:
      homelab-network:
        ipv4_address: 172.20.0.13
  authentik-worker:
    labels:
      - traefik.enable=false
    command: worker
    image: ghcr.io/goauthentik/server:2025.10.3
    container_name: authentik-worker
    restart: unless-stopped
    depends_on:
      - authentik-server
    environment:
      AUTHENTIK_SECRET_KEY: ${AUTHENTIK_SECRET_KEY}
      AUTHENTIK_POSTGRESQL__HOST: homelab-postgres
      AUTHENTIK_POSTGRESQL__USER: authentik
      AUTHENTIK_POSTGRESQL__PASSWORD: ${POSTGRES_PASSWORD}
      AUTHENTIK_POSTGRESQL__NAME: authentik
    networks:
      homelab-network:
        ipv4_address: 172.20.0.14
networks:
  homelab-network:
    external: true
