services:
  uv:
    labels:
      - traefik.enable=false
    image: ghcr.io/astral-sh/uv:debian-slim
    container_name: uv
    volumes:
      - /opt/python
    entrypoint:
      - sh
      - -c
      - |
        uv python install 3.12 --install-dir /opt/python_tmp &&
        rm -rf /opt/python/* &&
        cp -a /opt/python_tmp/cpython-*/* /opt/python/ &&
        rm -rf /opt/python_tmp &&
        chown -R 1000:1000 /opt/python &&
        tail -f /dev/null
    restart: unless-stopped
  android:
    labels:
      - traefik.enable=false
    image: ghcr.io/rgryta/android-sdk:1.2.1
    container_name: android
    volumes:
      - /opt/java/openjdk
      - /opt/android-sdk
    restart: unless-stopped
  node:
    labels:
      - traefik.enable=false
    image: node:24-bullseye-slim
    container_name: node
    volumes:
      - /opt/node
    entrypoint:
      - sh
      - -c
      - |
        rm -rf /opt/node/* &&
        cp -a /usr/local/* /opt/node/ &&
        chown -R 1000:1000 /opt/node &&
        tail -f /dev/null
    restart: unless-stopped
  tools:
    labels:
      - traefik.enable=false
    image: ghcr.io/rgryta/homelab-tools:1.2.0
    container_name: tools
    volumes:
      - /opt/tools
      - gcloud_config:/opt/tools/gcloud-config
    restart: unless-stopped
  vscode:
    labels:
      - traefik.enable=true
      - traefik.http.routers.vscode.rule=Host(`vscode.gryta.eu`)
      - traefik.http.routers.vscode.entrypoints=websecure
      - traefik.http.routers.vscode.tls.certresolver=le
      - traefik.http.routers.vscode.middlewares=authentik-forward-auth@file
      - traefik.http.services.vscode.loadbalancer.server.port=8443
    image: lscr.io/linuxserver/code-server:4.108.2-ls314
    container_name: code-server
    volumes_from:
      - android
      - uv
      - node
      - tools
    volumes:
      - vscode_config:/config
      - homelab_stack:/homelab_stack:ro
      - /var/run/docker.sock:/var/run/docker.sock
      - /mnt:/mnt
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Warsaw
      - DOCKER_HOST=unix:///var/run/docker.sock
      - ATTACHED_DEVICES_PERMS=/var/run/docker.sock
      - HASHED_PASSWORD=${HASHED_PASSWORD}
      - SUDO_PASSWORD_HASH=${HASHED_PASSWORD}
      - PROXY_DOMAIN=vscode.gryta.eu
      - DEFAULT_WORKSPACE=/config/workspace
      - PWA_APPNAME=code-server
      - 'EXTENSIONS_GALLERY={"serviceUrl":
        "https://marketplace.visualstudio.com/_apis/public/gallery", "itemUrl":
        "https://marketplace.visualstudio.com/items"}'
      - JAVA_HOME=/opt/java/openjdk
      - ANDROID_HOME=/opt/android-sdk
      - PATH=/opt/tools/bin:/opt/python/bin:/opt/node/bin:/opt/java/openjdk/bin:/opt/android-sdk/cmdline-tools/latest/bin:/opt/android-sdk/platform-tools:$PATH
      - CLOUDSDK_CONFIG=/opt/tools/gcloud-config
    depends_on:
      - android
      - uv
      - node
      - tools
    restart: unless-stopped
    networks:
      homelab-network:
        ipv4_address: 172.20.0.25
volumes:
  vscode_config:
    driver_opts:
      o: bind
      type: none
      device: /mnt/quick/apps/volumes/vscode/config
  homelab_stack:
    driver_opts:
      o: bind
      type: none
      device: /mnt/.ix-apps/app_mounts/dockge/stacks
  gcloud_config:
    driver_opts:
      o: bind
      type: none
      device: /mnt/quick/apps/volumes/vscode/gcloud
networks:
  homelab-network:
    external: true
