services:
  uv:
    labels:
      - traefik.enable=false
    image: ghcr.io/astral-sh/uv:debian-slim
    container_name: uv
    volumes:
      - /opt/python
    entrypoint:
      - sh
      - -c
      - |
        uv python install 3.12 --install-dir /opt/python_tmp &&
        rm -rf /opt/python/* &&
        cp -a /opt/python_tmp/cpython-*/* /opt/python/ &&
        rm -rf /opt/python_tmp &&
        tail -f /dev/null
    restart: unless-stopped
  android:
    labels:
      - traefik.enable=false
    image: ghcr.io/rgryta/android-sdk:main
    container_name: android
    volumes:
      - /opt/java/openjdk
      - /opt/android-sdk
    command: tail -f /dev/null
    user: node
    restart: unless-stopped
  node:
    labels:
      - traefik.enable=false
    image: node:20-bullseye
    container_name: node
    volumes:
      - /opt/node
    entrypoint:
      - sh
      - -c
      - |
        rm -rf /opt/node/* &&
        cp -a /usr/local/* /opt/node/ &&
        tail -f /dev/null
    restart: unless-stopped
  vscode:
    labels:
      - traefik.enable=true
      - traefik.http.routers.vscode.rule=Host(`vscode.gryta.eu`)
      - traefik.http.routers.vscode.entrypoints=websecure
      - traefik.http.routers.vscode.tls.certresolver=le
      - traefik.http.routers.vscode.middlewares=authentik-forward-auth@file
      - traefik.http.services.vscode.loadbalancer.server.port=8443
    image: lscr.io/linuxserver/code-server:latest
    container_name: code-server
    volumes_from:
      - android
      - uv
      - node
    volumes:
      - vscode_config:/config
      - homelab_stack:/homelab_stack:ro
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Warsaw
      - HASHED_PASSWORD=${HASHED_PASSWORD}
      - SUDO_PASSWORD_HASH=${HASHED_PASSWORD}
      - PROXY_DOMAIN=vscode.gryta.eu
      - DEFAULT_WORKSPACE=/config/workspace
      - PWA_APPNAME=code-server
      - 'EXTENSIONS_GALLERY={"serviceUrl":
        "https://marketplace.visualstudio.com/_apis/public/gallery", "itemUrl":
        "https://marketplace.visualstudio.com/items"}'
      - JAVA_HOME=/opt/java/openjdk
      - ANDROID_HOME=/opt/android-sdk
      - PATH=/opt/python/bin:/opt/node/bin:/opt/java/openjdk/bin:/opt/android-sdk/cmdline-tools/latest/bin:$PATH
      - CLAUDE_MCP_TOKEN=${CLAUDE_MCP_TOKEN}
    depends_on:
      - android
      - uv
      - node
    restart: unless-stopped
    networks:
      homelab-network:
        ipv4_address: 172.20.0.25
volumes:
  vscode_config:
    driver_opts:
      o: bind
      type: none
      device: /mnt/quick/apps/volumes/vscode/config
  homelab_stack:
    driver_opts:
      o: bind
      type: none
      device: /mnt/.ix-apps/app_mounts/dockge/stacks
networks:
  homelab-network:
    external: true
